/* 
    Write your custom CSS here and also abstract your Tailwind css using @apply
*/

html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    line-height: 2;
    @apply font-heading;
}

p, span, li {
    font-weight: 300;
    @apply text-gray-500;
}

a:hover {
    @apply underline;
}

.collage img:nth-child(1) {
    width: 20%;
    top: 10px;
}

.collage img:nth-child(2) {
    width: 22%;
    left: 18%;
    top: 45px;
}

.collage img:nth-child(3) {
    width: 28%;
    left: 0;
    right: 0;
    margin-inline: auto;
}

.collage img:nth-child(4) {
    width: 19%;
    right: 18%;
    top: -10px;
}

.collage img:nth-child(5) {
    width: 21%;
    right: 0;
    top: 7px;
}

.collage img:nth-child(6) {
    width: 31%;
    right: 45px;
    top: 100%;
    z-index: -1;
}
